@media(max-width:1199px){
    /* header */
    .header_wrapper .navbar-expand-lg .navbar-nav{
        align-items: center;

    }
    .header_wrapper .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0;
        font-size: 0.875rem;
    }

    .main-btn{
        font-size: 0.875rem;
    }

    .booking-area{
        padding: 3rem 0.625rem;
    }

    .booking-area .main-btn{
        padding-left: 0.3125rem !important;
        padding-right: 0.3125rem !important;

    }

    .room-items .room-content{
        padding: 2rem 1.875rem;
    }

    .room-items .room-content h5{
        font-size: 1.2rem;
    }

    .rooms-items .room-content p{
        font-size: 0.75rem;
    }

    .service-item-wrap .tab-content img{
        width: 100%;
    }

    .service-menu-area ul li a {
        margin-bottom: 1.5rem;
    }

    .service-menu-area ul li a h5 {
        font-size: 1rem;
    }

    .service-menu-area ul li a p {
        font-size: 0.875rem;
    }
    
}


@media(max-width:991px){

    section{
        padding: 1.875rem 0;
    }

    .header-scrolled{
        height: auto;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        padding-bottom: 0.9735rem;
    }

    .header_wrapper .nav-item .nav-link{
        margin-top: .9375rem;
    }

    .banner_wrapper{
        height: 25.625rem;

    }

    .booking-area{
        padding: 0.3125rem 1.875rem;

    }

    .about_wrapper{
        padding-top: 22.375rem;
    }

    .room-items .room-content{
        padding: 1rem 1.875rem;
    }

    .room-items .room-content h5{
        font-size: 1.5rem;
    }

    .rooms-items .room-content p{
        font-size: 1rem;
    }

    .service-menu-area {
        padding: 1.5rem 0.5rem;
    }

    .service-item-wrap {
        flex-direction: column;
    }

    .service-item-wrap > div {
        width: 100% !important;
    }

    .service-menu-area ul {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-menu-area ul li {
        width: 100%;
        margin-left: unset !important;
    }

    .service-item-wrap .tab-content img {
        width: 100%;
        height: auto;
    }

    .service-menu-area ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-menu-area ul li a .service-icon {
        float: none;
        margin: 0 auto;
    }

    .service-menu-area ul li a h5,
    .service-menu-area ul li a p {
        padding-left: 0;
        text-align: center;
    }

    
}


@media(max-width:767px){
    h1{
        font-size: 1.875rem;
        line-height: 2.5rem;
    }


    h3{
        font-size: 1.75rem;
        line-height: 2.1875rem;
    }

    h5{
        font-size: 1.25rem;
    }

    p{
        font-size: 0.8125rem;
        line-height: 1.5rem;
    }

    .service-menu-area ul li {
        width: 100%;
    }

    .service-item-wrap .tab-content img {
        width: 100%;
        height: auto;
    }

    .service-menu-area ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.banner_wrapper{
    height:40.625rem;
}

.banner_wrapper .swiper{
    width: 100%;
    height: 100%;
}

.banner_wrapper .swiper-slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_wrapper .swiper-slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.5;
    z-index: 0;
}

.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 0.9375rem;
    height: 0.975rem;
    background-color: var(--bg-white);
    border: 0.0625rem solid var(--bg-white);
}

.banner_wrapper .swiper .slide-caption{
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_wrapper .swiper .slide-caption p{
    max-width: 37.5rem;
    margin: 0 auto;
    color: var(--text-white);
}

.footer_wrapper > div{
    padding: 0 1.875rem ;
}